header {
    width: 100%;
    height: 15.95vh;
    background-color: black;
    display: flex;
}

.main_menu {
    display: flex;
    flex-direction: row;
    line-height: 13.95vh;
}

.menu_icon {
    width: 3vw;
    height: 6vh;
}

.menu_icon i {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.7rem;
    padding: 0.5rem;
}

/* .logo {
    width: 14.25rem;
    /* height: 6.37rem; */
/* height: 100%; */
/* display: flex; */
/* margin: auto; */
/* text-align: center; */
/* justify-content: flex-end; */


.logo {
    width: 14.25rem;
    height: 6.37rem;
    display: flex;
    margin: auto;
    text-align: center;
}



.logo img {
    width: auto;
    height: 100%;
    /* margin-left: 100px; */
}


/* extra */